---
layout: page
title: "About"
description: "Hey, this is McCreeNing."
header-img: "img/free-jump.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        这个世界还有太多需要我们关心的东西
    </blockquote>
    链接：https://www.zhihu.com/question/67473950/answer/262220466
    一个年纪大些的人，即使没读过很多书，但是经历过人生的生死离别和大起大落，就会看起来很沧桑，思想很深刻。<p>而一个年轻人即使读了再多书，也是通过别人的眼睛看到的别人的世界，而不是自己的。<br>所以我反倒觉得思想的复杂程度超过同龄人，是一件蛮可悲的事情。<p>某种程度上说，思维的复杂化过程就相当于东西的腐化过程。而加速这个进程则是对人生的一种透支，比如体验过毒品的快感就很难再体会正常的快感了，在精神上也是如此。他本该一层一层的去理解人生，在每一个阶段接受自己应该拥有的经历和快乐。而不是借着别人的眼睛一下子把人生里大部分的东西看个遍。这样做的后果就是，他会觉得自己周围的同龄人都是愚蠢透顶的蠢货。看三俗小说，当明星们的脑残粉，彼此间开着生硬无聊的玩笑也能笑成白痴。他会鄙视同龄人，并会因为这种鄙视而越发孤僻，最终失去人生的参与感。<br>在大部分的人生里，漂浮于没有尽头的意识世界中，不断寻找着支撑物。一次次陷落在各种陷阱里，时而在巨人身上寻找同感作为慰藉，时而依靠怀疑和批判，来支撑那些对自我的认同感。他无法体会人们之中那些“普通的快乐”，他没办法跟同学们打成一片、一起开玩笑和疯闹，在过生日时互送礼物、在分别聚会上流泪道别……并且可怕的是，这种参与感的丢失是连续性的。几乎可见的是，他的路会越走越窄。最好的结果就是最终能够隐于市野，以简单的人际关系和生活方式，得到一种乌托邦式的精神自足。<br>可是如果他因为某些原因要重新参与世界或者要得到某些认同的时候，他将遭受到一种近乎毁灭性的自我怀疑。他会在自己鄙夷的世界中完成一次次彻底的自我谴责。他会因为努力参与却无法感受人生的真实而痛苦万分。<br>所以那些思想复杂的年轻人身上，有的更多不是成熟和深刻的气息，而是一种郁气，郁郁不得志。或者是压抑的隐忍不发，或者是一种神经质的狂妄自大。表现得对一切不屑一顾，其实都只是逃避现实的托词。人生的意义是随着不同的人生阶段而变化的，而不是通过别人的眼睛看见或者自己一个人憋着苦思冥想可以找到的。所以年轻的时候要去多参与，要去多做事情，要去进行属于自己的人生，才有意义。<br>知道和记住一个道理容易，但是证明和懂得一个道理却是无比痛苦的。在你亲身经历这份痛苦之前，它都不能成为让你变得深刻和沧桑的疤痕。<p>

    <p style="text-align:right;">
        —— <a href="https://www.zhihu.com/question/67473950/answer/262220466">城闭喧 － 给抑郁症的情书 </a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
